<h1>Board feature</h1>
 
<form [formGroup]="boardForm" (ngSubmit)="onSubmit()">

  <div>
    
    <label>Board Name</label>
    <input type="text" id="name" name="name" formControlName="name" />
  </div>
  <div>
    <label>Description</label>
    <input
      type="text"
      id="description"
      name="description"
      formControlName="description"
    />
  </div>
  <div>
    <button type="button" (click)="addColumn()">Add Column</button>
  </div>
  <div formArrayName="columns">
    <div *ngFor="let column of columnArr.controls; let i = index">
      <div [formGroupName]="i">
        <div>
          <label>Column name</label>
          <input
            type="text"
            id="column-name"
            name="column-name"
            formControlName="name"
          />
        </div>
        <div>
          <label>Description</label>
          <input
            type="text"
            id="column-description"
            name="description"
            formControlName="description"
          />
        </div>
        <div>
          <label>Task status</label>
          <select
            name=""
            id=""
            id="tasl-status"
            name="task status"
            formControlName="taskStatus"
          >
            <option value="ToDo">To Do</option>
            <option value="InProgress">In Progress</option>
            <option value="Done">done</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <button type="submit">Add Board</button>
</form>

