<h1 mat-dialog-title>Set Role</h1>
<div mat-dialog-content [formGroup]="form">
  <mat-form-field appearance="fill">
    <mat-label>Select me</mat-label>
    <mat-select>
      <mat-option value="admin">Admin</mat-option>
      <mat-option value="superAdmin">Super-Admin</mat-option>
      <mat-option value="Customer">Customer</mat-option>
    </mat-select>
    <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="dialogRef.close()">
    Close
  </button>
  <button mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
</div>
