<mat-toolbar class="toolbar">
    <div class="left-links">
      <div><a routerLink="/home">home</a></div>
      <div><a routerLink="/home/createboard">boards</a></div>
    </div>
    <div class="trello">
      <img src="assets/images/logo.png" alt="logo">
      <p>Trello</p>
    </div>
    <img src="assets/images/clipart915439.png" alt="user">

</mat-toolbar>
<mat-toolbar class="toolbar-secondary">
    <div>project name</div>
    <img src="assets/images/clipart915439.png" alt="user">
    <div class="right-links">
      <div><p>invite</p></div>
      <div><p>settings</p></div>
      <div><p>background</p></div>
    </div>

</mat-toolbar>