<mat-toolbar class="toolbar">
    <div class="left-links">
      <div><a routerLink="/home"><img src="../../../assets/images/home.png" alt="home"></a></div>
      <div><a routerLink="/home/createboard">boards</a></div>
    </div>
    <div class="trello">
      <img src="assets/images/logo.png" alt="logo">
      <p>Trello</p>
    </div>
    <img src="assets/images/clipart915439.png" alt="user">

</mat-toolbar>
<mat-toolbar class="toolbar-secondary">
    <div>board name</div>
    <img src="assets/images/clipart915439.png" alt="user">
    <div class="right-links">
      <div><p>invite</p></div>
      <div><p><img src="../../../assets/images/setting.png" alt="setting"></p></div>
      <div><p><img src="../../../assets/images/gallery.png" alt="gallery"></p></div>
    </div>

</mat-toolbar>

<div class="root">
  <div class="board">
    <div class="board-wrapper">
      <div class="board-columns" cdkDropListGroup>
        <div class="board-column">
          <div class="column-header">
            <div class="column-title">
              column name
            </div>
            <div class="column-delete">
              ...
            </div>
          </div>
          <div class="tasks-container"
          cdkDropList
          #todoList="cdkDropList"
          [cdkDropListData]="todo"
          (cdkDropListDropped)="drop($event)"
          >
          <div class="task"  *ngFor="let item of todo"  cdkDrag>
            <ng-container >
              {{item}}
            </ng-container>
          </div>
          
          
          </div>
          <button mat-raised-button (click)="openDialog()" class="add-task">
            + add task
          </button>
         
        </div>

      </div>

    </div>

  </div>

</div>