<div class="main-cont">
  <div class="glass-morphism side-bar-sizing">
    <ul>
      <li>
        <div
          class="list-style"
          routerLinkActive="active-button"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLink="/home"
        >
          <mat-icon>home</mat-icon>
          <span>Home</span>
        </div>
      </li>
      <li
        class="list-style"
        routerLinkActive="active-button"
        routerLink="ProjectForm"
      >
        <mat-icon>developer_board</mat-icon>
        <span>Create Project</span>
      </li>
      <li
        class="list-style"
        routerLink="users"
        routerLinkActive="active-button"
      >
        <mat-icon> account_circle</mat-icon>
        <span>Users</span>
      </li>
      <li class="list-style disabled">
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
      </li>
      <li class="list-style"
      routerLink="issueTypesForm"
      >
        <mat-icon>issue types</mat-icon>
        <span>issue types</span>
      </li>
    </ul>
  </div>
  <div class="glass-morphism board-sizing">
    <router-outlet></router-outlet>
  </div>
</div>
